<div *ngIf="viewMode">
  <div *ngIf="currentRoom.id">
    <div class="roomdet" >
    <h1 >{{ currentRoom.name }}</h1>
    <div>
      <label><strong>Name:</strong></label> {{ currentRoom.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentRoom.description }}
    </div>
    <div>
      <label><strong>Room Type:</strong></label>
      {{ currentRoom.roomType }}
    </div>
    <div>
      <label><strong>Price:</strong></label>
      {{ currentRoom.price }}
    </div>
    <div>
      <label><strong>Images:</strong></label>
      {{ currentRoom.roomImages }}
    </div>
    <div>
      <label><strong>Is Active:</strong></label>
      {{ currentRoom.active }}
    </div>


    <button class="nupp1" routerLink="/updateRoom/:id">Update</button>

    <button class="nupp1" (click) ="inActiveRoom()" onclick="window.location.reload();">
      Inactive
    </button>

    <button class="nupp1" (click) ="activeRoom()" onclick="window.location.reload();">
      Active
    </button>

    <button class="nupp1" (click) ="deleteRoom()" onclick="window.location.reload();">
      Delete
    </button>

    </div>
  </div>

 </div>


