<div *ngIf="viewMode; else editable">
  <div *ngIf="currentRoom.id">
    <div class="roomdet" > 
    <h1 >{{ currentRoom.name }}</h1>
    <div>
      <label><strong>Name:</strong></label> {{ currentRoom.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentRoom.description }}
    </div>
    <div>
      <label><strong>Room Type:</strong></label>
      {{ currentRoom.roomType }}
    </div>
    <div>
      <label><strong>Price:</strong></label>
      {{ currentRoom.price }}
    </div>
    <div>
      <label><strong>Images:</strong></label>
      {{ currentRoom.roomImages }}
    </div>
    <div>
      <label><strong>Is Active:</strong></label>
      {{ currentRoom.active }}
    </div>

  
    <button class="nupp1" routerLink="/updateRoom">
      Update
    </button>

    <button class="nupp1" (click) ="inActiveRoom()">
      Inactive
    </button>

    <button class="nupp1" (click) ="activeRoom()">
      Active
    </button>
  
    <button class="nupp1" (click) ="deleteRoom()">
      Delete
    </button>
   
    </div>
  </div>

  <div *ngIf="!currentRoom">
    <br />
    <p>Please click on a Room...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentRoom.id" class="edit-form">
    <h4>Room</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentRoom.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="name">Type</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentRoom.name"
          name="name"
        />
      </div>
      <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            [(ngModel)]="currentRoom.price"
            name="price"
          />
        </div>
      </form>
              
      <!-- <button class="badge badge-danger mr-2" (click)="inActiveRoom()">
        Delete
      </button> -->
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateRoom()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentRoom.id">
      <br />
      <p>viga Room detailis...</p>
    </div>
  </ng-template>

