<div class="center-all">
  <div class="elem-group inlined">
    <h1>Login!</h1>
  <form [formGroup]="loginForm" >

    <div class="elem-group">
      <label>Your E-mail *</label>
      <input formControlName="email" type="email"  name="email" placeholder="yourEmail@email.com" >
    </div>

    <div class="elem-group">
      <label>Your password *</label>
      <input formControlName="password" type="password" name="password" placeholder="Enter password">
    </div>

    <div class="elem-group">
      <button class="button" (click)="login()">Login!
      </button>
    </div>
    <a style="color:blue; margin-top: 20px" routerLink="/signup"> New here? Click here to sign up!</a>

  </form>
  </div>
  </div>

