<div class="navtabs-container">
    <nav mat-tab-nav-bar>
    <span class="toolbar-flex"></span>
    <a mat-tab-link routerLink="/"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Home
    </a>

    <a mat-tab-link routerLink="/roomsc"
        routerLinkActive #rooms="routerLinkActive"
        [active]="rooms.isActive">
        Rooms
    </a>

    <a mat-tab-link routerLink="/mealsc"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Meals
    </a>

    <a mat-tab-link routerLink="/extrasc"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Extras
    </a>


    <a mat-tab-link routerLink="/"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Contacts
    </a>

    <a mat-tab-link routerLink="/booking"
      routerLinkActive #home="routerLinkActive"
      [active]="home.isActive">
      Book Now
    </a>

    <span class="toolbar-flex"></span>
    </nav>
</div>


