//siin saab menüükomponente lisada

<div class="navtabs-container">
    <nav mat-tab-nav-bar>
    <span class="toolbar-flex"></span>
    <a mat-tab-link routerLink="/"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Avaleht
    </a>

    <a mat-tab-link routerLink="/rooms"
        routerLinkActive #rooms="routerLinkActive"
        [active]="rooms.isActive">
        Rooms
    </a>

    <a mat-tab-link routerLink="/meal"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Menüü | Meal
    </a>

    <a mat-tab-link routerLink="/"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Galerii
    </a>

    <a mat-tab-link routerLink="/"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Asukoht
    </a>

    <a mat-tab-link routerLink="/booking"
      routerLinkActive #home="routerLinkActive"
      [active]="home.isActive">
      Broneeri
    </a>

    <span class="toolbar-flex"></span>
    </nav>
</div>


