<div class="sky">
  <div class="overall">

  <h1>UUS BRONEERING</h1>
<form [formGroup]="createBookingForm" (ngSubmit)="onSubmit()">
  <div class="elem-group">
    <span class="help-block" >* marked fields are required.</span>
    <label for="name">Your full name *</label>
    <input type="text" id="name" class="form-control" formControlName="name" name="name" placeholder="Mari Matsu" pattern=[A-Z\sa-z]{3,20} >
    <span class="help-block" *ngIf="createBookingForm.get('name')?.invalid && createBookingForm.get('name').touched">Name is a required!</span>
  </div>

  <div class="elem-group">
    <label for="email">Your E-mail *</label>
    <input type="email" formControlName="email" id="email" name="email" placeholder="mari.matsu@email.com" >
    <span class="help-block" *ngIf="createBookingForm.get('email')?.invalid && createBookingForm.get('email').touched">E-mail is a required!</span>
  </div>

  <div class="elem-group">
    <label for="phoneNumber">Your Phone number *</label>
    <input type="string" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="+372 5656 5656" value="+372 " pattern=[0-9\+\s]{10,16} >
    <span class="help-block" *ngIf="createBookingForm.get('phoneNumber')?.invalid && createBookingForm.get('phoneNumber').touched">Please enter correct phone number!</span>
  </div>

  <hr>
  <div class="elem-group inlined">
    <label for="arrivalDate">Check-in Date *</label>
    <input type="date" formControlName="arrivalDate" id="arrivalDate" name="arrivalDate" >
    <span class="help-block" *ngIf="createBookingForm.get('arrivalDate')?.invalid && createBookingForm.get('arrivalDate').touched">Please enter arrival Date!</span>
  </div>

  <div class="elem-group inlined">
    <label for="leavingDate">Check-out Date *</label>
    <input type="date" formControlName="leavingDate" id="leavingDate" name="leavingDate" >
    <span class="help-block" *ngIf="createBookingForm.get('leavingDate')?.invalid && createBookingForm.get('leavingDate').touched">Please enter leaving Date!</span>
  </div>

  <div class="elem-group inlined">
    <label for="numberOfPeople">Number of people arriving *</label>
    <input type="number" formControlName="numberOfPeople" id="numberOfPeople" name="numberOfPeople" placeholder="number of people" min="1" >
    <span class="help-block" *ngIf="createBookingForm.get('numberOfPeople')?.invalid && createBookingForm.get('numberOfPeople').touched">Please enter number of people arriving!</span>
  </div>

  <div class="elem-group inlined">
    <label>Select room(s) *</label>
    <select (ngModelChange)="setNewRoom($event)" (ngModel)="rooms" formControlName="rooms" multiple>
      <option *ngFor="let r of rooms" [ngValue]="r">
        {{ r.name }}
      </option>
  </select>
  <!--<span class="help-block" *ngIf="createBookingForm.get('rooms')?.invalid">Please select room!</span> -->
</div>

<div class="elem-group inlined">
  <label>Select meal(s)</label>
  <select (ngModelChange)="setNewMeal($event)" (ngModel)="meals" formControlName="meals" multiple>
    <option *ngFor="let m of meals" [ngValue]="m">
      {{ m.name }}
    </option>
</select>
</div>

<div class="elem-group inlined">
  <label>Select extra(s)</label>
  <select (ngModelChange)="setNewExtra($event)" (ngModel)="extras" formControlName="extras" multiple>
    <option *ngFor="let e of extras" [ngValue]="e">
      {{ e.name }}
      {{ e.price }}
    </option>
</select>
</div>

<hr>

<div class="elem-group">
  <label>Select payment method: *</label>
  <select formControlName="paymentMethod" class="form-control">
    <option enabled>Select payment method</option>
    <option *ngFor="let pm of paymentMethod">{{pm | uppercase}}</option>
</select>
<span class="help-block" *ngIf="createBookingForm.get('paymentMethod')?.invalid && createBookingForm.get('paymentMethod').touched">Please select payment method!</span>
</div>

  <hr>
  <div class="elem-group">
    <label for="comments">Anything else we should know?</label>
    <textarea id="comments" name="comments" placeholder="For Example: I have allergy for nuts, I need extra blanket..."></textarea>
  </div>

  <div class="elem-group">
    <legend>Is booking Active?</legend>
    <div>
      <input id="active" type="radio" value="true" formControlName="isActive">
      <label for="active">Active</label>
   </div>
   <div>
      <input id="inactive" type="radio" value="false" formControlName="isActive">
      <label for="inactive">Inactive</label>
   </div>
  </div>

  <div class="elem-group">
    <legend>Is booking Paid?</legend>
    <div>
      <input id="Paid" type="radio" value="true" formControlName="isPaid">
      <label for="Paid">Yes</label>
   </div>
   <div>
      <input id="NotPaid" type="radio" value="false" formControlName="isPaid">
      <label for="NotPaid">No</label>
   </div>
  </div>


  <div class="elem-group">
    <legend>Is booking Confirmed?</legend>
    <div>
      <input id="active" type="radio" value="true" formControlName="isConfirmed">
      <label for="active">Yes</label>
   </div>
   <div>
      <input id="inactive" type="radio" value="false" formControlName="isConfirmed">
      <label for="inactive">No</label>
   </div>
  </div>
  <div>
  <span class="help-block2" *ngIf="createBookingForm.invalid">* marked fields are required!</span>
  </div>


  <button class="button" type="submit" [disabled]="createBookingForm.invalid">SEND BOOKING!</button>
</form>
</div>
</div>
