<div class="overall">

  <h1>UUS BRONEERING</h1>
<form [formGroup]="createBookingForm" (ngSubmit)="onSubmit()">
  <div class="elem-group">
    <label for="name">Your full name</label>
    <input type="text" formControlName="name" id="name" name="name" placeholder="Mari Matsu" pattern=[A-Z\sa-z]{3,20} required>
  </div>

  <div class="elem-group">
    <label for="email">Your E-mail</label>
    <input type="email" formControlName="email" id="email" name="email" placeholder="mari.matsu@email.com" required>
  </div>

  <div class="elem-group">
    <label for="phoneNumber">Your Phone number</label>
    <input type="string" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="+372 5656 5656" value="+372 " pattern=[0-9]{3,20} required>
  </div>

  <hr>
  <div class="elem-group inlined">
    <label for="arrivalDate">Check-in Date</label>
    <input type="date" formControlName="arrivalDate" id="arrivalDate" name="arrivalDate" required>
  </div>

  <div class="elem-group inlined">
    <label for="leavingDate">Check-out Date</label>
    <input type="date" formControlName="leavingDate" id="leavingDate" name="leavingDate" required>
  </div>

  <div class="elem-group inlined">
    <label for="numberOfPeople">Number of people arriving</label>
    <input type="number" formControlName="numberOfPeople" id="numberOfPeople" name="numberOfPeople" placeholder="2" min="1" required>
  </div>

  <div class="elem-group inlined">
    <label>Select room(s)</label>
    <select formControlName="rooms" class="form-control" multiple>
      <option disabled></option>
      <option *ngFor="let r of rooms" [ngValue]="r">
        {{r}}
      </option>
  </select>
</div>


<div class="elem-group inlined">
  <label>Select meal(s)</label>
  <select formControlName="meals" class="form-control">
    <option disabled></option>
    <option *ngFor="let m of meals"[ngValue]="m">
      {{m}}</option>
</select>
</div>

<div class="elem-group inlined">
  <label>Select extra(s)</label>
  <select formControlName="extras" class="form-control" muliple>
    <option disabled></option>
    <option *ngFor="let e of extras" [ngValue]="e">
      {{e}}
    </option>
</select>
</div>
<hr>

<div class="elem-group">
  <label>Select payment method:</label>
  <select formControlName="paymentMethod" class="form-control">
    <option *ngFor="let pm of paymentMethod">{{pm | uppercase}}</option>
</select>
</div>

  <hr>
  <div class="elem-group">
    <label for="comments">Anything else we should know?</label>
    <textarea id="comments" name="comments" placeholder="For Example: I have allergy for nuts, I need extra blanket..."></textarea>
  </div>

  <button class="button" type="submit" onclick="createBooking">SEND BOOKING!</button>
</form>
<hr>
</div>
