<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/login" (click)="onToggleClose()">
        <mat-icon>input</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
        <mat-icon>account_circle</mat-icon>
        <span>Signup</span>
    </a>
    <a mat-list-item routerLink="" (click)="onToggleClose()">
        <mat-icon>hotel</mat-icon>
        <span>Home</span>
    </a>
    <a mat-list-item routerLink="/rooms" (click)="onToggleClose()">
        <mat-icon>build</mat-icon>
        <span>Rooms Control</span>
    </a>
    <a mat-list-item routerLink="/meals" (click)="onToggleClose()">
        <mat-icon>build</mat-icon>
        <span>Meals Control</span>
    </a>
    <a mat-list-item routerLink="/extras" (click)="onToggleClose()">
        <mat-icon>build</mat-icon>
        <span>Extras Control</span>
    </a>

</mat-nav-list>
