<div class="list">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name"/>

      <div class="input-group-append">
        <button class="nupp1" type="button"> Search </button>
      </div>
    </div>
  </div>

  <div class="elem-group">
    <button class="nupp1" routerLink ="/addRoom">Add Room
    </button>
  </div>

  <h1>List of rooms:</h1>
  <div class="col-md-6 col-md-8 elem-group inlined">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let room of rooms; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveRoom(room, i)">
          {{ room.name }}
          <div>
          <a (click)="UploadImage(room.id,room.roomImages)"  class="btn btn-success">Upload</a> | 
            <a (click)="RemoveImage(room.id,room.name)" class="btn btn-danger">Remove</a></div>
        </li>
      </ul>
    </div>

    <div class="col-md-6 elem-group inlined">
      <app-room-details
        [viewMode]="true"
        [currentRoom]="currentRoom"
      ></app-room-details>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Upload Image</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <input type="file" (change)="onchange($event)" class="form-control">
          <img class="img-responsive img-thumbnail popupclass" [src]="roomImages">
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-9">
                <p><ngb-progressbar type="success" [value]="progressvalue" *ngIf="progressvalue" [striped]="true"></ngb-progressbar></p>
            </div>    
            
        <div class="col-lg-3">
               <button type="button" class="btn btn-primary" (click)="ProceedUpload()">Proceed Upload </button>
            </div>
        </div>
    </div>
  </ng-template>
