<div class="list">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"/>
      <div class="input-group-append">
        <button class="nupp1" type="button">
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="elem-group">
    <button class="nupp1"  routerLink ="/addRoom">Add Room
    </button>
  </div>

  <h1>Rooms List:</h1>
  <div class="col-md-6 col-md-8 elem-group inlined">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let room of rooms; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveRoom(room, i)">
          {{ room.name }}
        </li>
      </ul>
    </div>

    <div class="col-md-6 elem-group inlined">
      <app-room-details
        [viewMode]="true"
        [currentRoom]="currentRoom"
      ></app-room-details>
    </div>
  </div>
