<mat-toolbar class="header-container">
    <div>
        <button mat-icon-button (click)="onToggleOpenSidenav()">
            <mat-icon>menu</mat-icon>
        </button>         
    </div>
    <div>
        <a class="nimi">
            Matsu Talu Külalistemaja
        </a>        
    </div>


    <div class="logo-container">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="logo"src="assets/images/Logo.png">
        </div>        
    </div>
  </mat-toolbar>
