.logo-container {
    width: 100%;
    margin-right: 40px;
}

.logo {
    width: 100px;
}

mat-toolbar{
    height: 96px;
}

.nimi {
    color: black;   
}

.header-container{
    background-color: #aed581;
}

.menu{
    margin-right: 40px;
}