<mat-toolbar class="header-container">
    
    <div>
        <a class="nimi">
            Guesthouse
        </a>
    </div>
    

    <div class="logo-container">
        <div fxLayout="column" fxLayoutAlign="center center">
           <!--<img class="logo"src="assets/images/Logo.png">-->
        </div>        
    </div>
    <div class="menu">
        <button mat-icon-button (click)="onToggleOpenSidenav()">
            <mat-icon>menu</mat-icon>
        </button>         
    </div>
  </mat-toolbar>
