.container{
    height: 100vh;
    background: url(/assets/images/matsu2.jpg) no-repeat;
}

.book-now-container{
padding: 35px 75px;
}

.book-now-button{
width: 170px;
color: white;
border: 1px solid white;
text-transform: uppercase;
}